.container {
	margin-bottom: 100px;
}

.cat1 {
	background-color: orange;
	padding: 10px 30px;
	border-radius: 10px;
}

.cat2 {
	background-color:orchid;
	padding: 10px 30px;
	border-radius: 10px;
}

.cat3 {
	background-color: blue;
	padding: 10px 30px;
	border-radius: 10px;
}

.orange-bg {
	background-color: #fceae8;
	border-radius: 10px;
}

.carousel-item {
	padding: 20px 40px;
}

.price {
	color: #FF136F;
}

.button-buy-now {
	background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
	color: #fff;
	border: none;
	border-radius: 8px;
	padding: 9px 25px;
	cursor: pointer;
}

.catagories h1{
	color: white;
}

.catagories img {
	width: 100px;

}

.card {
	border: none;
	box-shadow: 5px 5px 10px lightgray;
}